body {
    background-color: #0f021d;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    margin: 0;
}

.contenedor-form {
    background-color: rgba(17, 2, 41, 0.986);
    font-size: 2rem;
    padding: 3rem 1rem;
    border-radius: 10px;
    width: 30%;
    height: 25%;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: -1px 2px 5px 1px rgba(202, 62, 230, 0.329);
    z-index: 57666;
}

.contenedor-form::after {
    content: '';
    display: block;
    position: absolute;
    height: 90%;
    width: 1px;
    background-color: rgb(157, 78, 231);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form,
.login-alt {
    width: 45%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont-input {
    position: relative;

}

.cont-input input {

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(157, 78, 231);
    color: white;
    width: 100%;
}

.cont-input input:focus,
.cont-input input:focus-visible {
    outline: none;
}

.cont-input input:focus ~ label,
.cont-input input:valid ~ label {
    font-size: 0.9rem;
    bottom: 2rem;
    color: rgb(157, 78, 231);
} 

form label {
    position: absolute;
    font-size: 1.2rem;
    bottom: 5px;
    left: 0;
    color: rgb(238, 238, 238);
    transition: all .5s ease;
}

.login-alt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alt-icono {
    border-radius: 50%;
    width: 25%;
    cursor: pointer;
    transition: all .5s ease;
}

.alt-icono:hover,
.alt-icono:focus {
    transform: scale(1.05);
}

input[type=submit] {
    color: rgb(245, 247, 247);
    font-size: 1.2rem;
    background-color: rgb(41, 41, 73);
    border: none;
    border-radius: 10px;
    border: 1px solid rgba(202, 62, 230, 0.329);
}

.icono_fondo {
    width: 32px;
    height: 32px;
    position: absolute;
    transition: 2s ease-out;
    left: 0;
    opacity: 0;
    z-index: 10;
}

.contenedor_span {
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,30,89,1) 47%, rgba(61,0,74,1) 100%);
    background-size: 200% 200%;
}

.span {
    place-self: center;
    display: block;
    width: 98%;
    height: 99%;
    background-color: rgb(22, 7, 41);
    z-index: 3;
}

.contenedor_imagenes {
    overflow: hidden;
}

.svg {
    width: 200px;
}